body {
    font-family: "Futura", sans-serif;
    text-align: center;
    background-color: #ecf3ff;
    margin: 0;
    padding: 20px;
}

h1 {
    color: #ff6726;
}

#controls {
    margin-bottom: 20px;
}

input, button, select {
    margin: 5px;
    padding: 10px;
    font-size: 14px;
    font-family: "Futura", sans-serif;
}

button {
    background-color: rgb(255, 240, 231);
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-weight: bold;
    transition: background 0.3s ease;
}

button:hover {
    background-color: rgb(255, 230, 220);
}

canvas {
    border: 2px solid rgb(255, 255, 255);
    display: block;
    margin: 20px auto;
}
